.gradle
.kotlin
.vscode
.idea
.mvn
build
gradle
.DS_Store
gradlew
gradlew.bat
bin
api/src/main/resources/application-env.properties
printer/src/main/resources/application-env.properties
component/src/main/resources/application-env.properties
